# Core ML + Vision
torch==2.3.0
torchvision==0.18.0
onnx==1.16.1
onnxruntime==1.18.0
pillow==10.3.0
numpy==1.26.4
matplotlib==3.9.0
scikit-learn==1.5.0

# FastAPI + Server
fastapi==0.111.0
uvicorn==0.30.1
python-multipart==0.0.9

# Utils
python-dotenv==1.0.1
pydantic==2.7.1

# Google Earth Engine
earthengine-api==0.1.375
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
